<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.heima.user.mapper.UserFollowMapper">

    <insert id="follow">
        INSERT INTO
            ap_user_follow(user_id, follow_id, created_time)
        VALUES
            (#{userId}, #{followId}, NOW());
    </insert>

    <insert id="fan">
        INSERT INTO
            ap_user_fan(user_id, fans_id, created_time)
        VALUES
            (#{followId}, #{userId}, NOW())
    </insert>

    <delete id="cancelFan">
        DELETE FROM
            ap_user_fan
        WHERE
            user_id = #{authorId} AND fans_id = #{userId};
    </delete>

    <delete id="cancelFollow">
        DELETE FROM
            ap_user_follow
        WHERE
            user_id = #{userId} AND follow_id = #{authorId};
    </delete>
</mapper>